<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.innoquant.moca.phonegap"
    version="2.6.2">

    <name>MOCA SDK Plugin</name>
    <description>InnoQuant MOCA SDK Plugin for PhoneGap/Cordova</description>    
    <license>Copyright (c) 2014-present InnoQuant SL. All rights reserved.</license>
    
    <engines>
      <engine name="cordova" version=">=3.4.0" />
    </engines>

    <!--dependency id="org.apache.cordova.device" url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-device.git" commit="master" subdir="." /-->

    <js-module src="www/MOCA.js" name="MOCA">
         <clobbers target="MOCA" />

     </js-module>

    <info>
                                  .           .          ZM?             ..7M$..       .$    =.         
                                 8M           M      .MI    .MM.        MN.  . 8M      .MN.  ..:        
                                 M7N         M?Z    M.         .  .  .M.               M.M.             
                                .M.M        M+ M   M.           MM   M                M.  M             
                                 M .M       M .M   7             ..  M               .M    7            
                                .M   M    .M  .M .O.             8   ,               M     M.           
                                =7  .DZ   M    M   7             M. .M              M=      M           
                                M     M  7M    O:  M.            M   M.             M       =M          
                                M     .M M.    .M   M           M.   .M            M         M          
                               .M       M      .M    .MI     MM .      .MN     8  MZ          M.        
                               .+       .      .?     . .ZM? .             7M$.  .?.          $.      

                                        
        Remember to add your MOCA AppKey and MOCA AppSecret to your app's config.xml BEFORE building.
        Learn more at http://developer.mocaplatform.com
    </info>

    <!-- android -->
    <platform name="android">   
        <info>                        
            ANDROID NOTES:

            - Add your GCMSender in the config.xml BEFORE building. This is needed for Remote Push Notifications.
            - You can get this id by creating a new push project in your Google Developer Console.
            - Use the following format in your config.xml:
                -  &lt;preference name="gcm_sender" value="\ YOUR_GCM_SENDER" /&gt;, please note the space after the backslash.
            - More information at http://developer.mocaplatform.com and support@mocaplatform.com
            
            - IMPORTANT: MOCA Plugin modifies your AndroidManifest.xml file in order to load even when no activity is instantiated (background execution). In particular, it adds the following line:

                    android:name="com.innoquant.moca.phonegap.MOCApp"

            to the &lt;application&gt; tag 
            If you use another plugin that requires / does the same, you'll need to manually create a single class that inherits from application, change the android:name to your class, and implement the code needed for both plugins. If you find this situation please report it in the "issues" section of the plugin GitHub project.

        </info> 
        <hook type="after_plugin_add" src="scripts/app_name.js" />

        <framework src="src/android/mocabuild.gradle" custom="true" type="gradleReference" />

        <config-file target="config.xml" parent="/widget">
             <feature name="MOCAPlugin">
                <param name="android-package" value="com.innoquant.moca.phonegap.MOCAPlugin" />
                <param name="onload" value="true" />
            </feature>                  
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">            
            <!-- Required for MOCA SDK -->
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

            <!-- Keeps the processor from sleeping when a message is received. -->
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <!-- Required for Push -->
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <!-- Used to collect battery stats -->
            <uses-permission android:name="android.permission.BATTERY_STATS" />
            <!-- Used to collect carrier -->
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
            <permission android:name="$PACKAGE_NAME.permission.MOCA_DATA" android:protectionLevel="signature" />
            <uses-permission android:name="$PACKAGE_NAME.permission.MOCA_DATA" />
        </config-file>    


        <config-file target="AndroidManifest.xml" parent="/manifest/application">

        <service
                android:name="com.innoquant.moca.drivers.alt.service.BeaconService"
                android:enabled="true"
                android:exported="true"
                android:isolatedProcess="false"
                android:label="Beacon driver service" />

 	    <service android:name="com.innoquant.moca.services.SyncService" android:enabled="true" />
	    <service android:name="com.innoquant.moca.push.PushService" android:enabled="true" />
            
        <service android:name="com.innoquant.moca.drivers.alt.BeaconIntentProcessor" android:enabled="true" />

            <activity
                android:name="com.innoquant.moca.ui.AlertDialogActivity"
                android:exported="false" >
            </activity>

            <activity
                android:name="com.innoquant.moca.ui.WebPageActivity"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            </activity>

            <!-- Include version Google Play Services -->
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        </config-file>

        <!-- MOCA SDK -->
        <source-file src="src/android/MOCAPlugin.java" target-dir="src/com/innoquant/moca/phonegap" />
        <source-file src="src/android/MOCAConstants.java" target-dir="src/com/innoquant/moca/phonegap" />
        <source-file src="src/android/MOCAAPI.java" target-dir="src/com/innoquant/moca/phonegap" />
        <source-file src="src/android/MOCACallbackContext.java" target-dir="src/com/innoquant/moca/phonegap" />
        <source-file src="src/android/MOCASharedPrefs.java" target-dir="src/com/innoquant/moca/phonegap" />
        <source-file src="src/android/Utils.java" target-dir="src/com/innoquant/moca/phonegap" />
        <source-file src="src/android/MOCApp.java" target-dir="src/com/innoquant/moca/phonegap" />
        <source-file src="src/android/MOCACordovaEvent.java" target-dir="src/com/innoquant/moca/phonegap" />


    </platform>
    
    <!-- ios -->
    <platform name="ios">
        <info>                   
            iOS NOTES:

            - The key NSLocationAlwaysUsageDescription value: --string describing why you need location services--, is automatically added by this plugin to your "YOUR-APP-NAME-Info.plist" file.

            - iOS 9+ requires all remote content to be hosted in HTTPS servers. In order to allow experiences hosted in any server, this plugin adds automatically an exception for "App Transport Security".
             Learn more about this feature in : http://developer.mocaplatform.com/docs/moca-ios-sdk-configuration#section-app-transport-security
             
            - The key NSBluetoothPeripheralUsageDescription, is automatically added to your "YOUR-APP-NAME-Info.plist" file.

        </info>
        <config-file target="config.xml" parent="/widget">
             <feature name="MOCAPlugin">
                <param name="ios-package" value="MOCAPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>This app will use your location information to identify nearby places and to notify you about available proximity experiences.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
            <string>This app uses Bluetooth to find nearby iBeacon devices.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
          <dict>
              <key>NSAllowsArbitraryLoads</key>
              <true/>
          </dict>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>This app will use your location information to identify nearby places and to notify you about available proximity experiences.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>Always location permission is needed in order to detect bluetooth beacons and geofences.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>When app is in use location permission will be used to notify you about relevant content around your location</string>
        </config-file>   

        <!-- required background modes:  App registers for location updates -->
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
                <string>remote-notification</string>
            </array>
        </config-file>
            
        <config-file parent="aps-environment" target="*/Entitlements-Debug.plist">
          <string>development</string>
        </config-file>

        <config-file parent="aps-environment" target="*/Entitlements-Release.plist">
          <string>production</string>
        </config-file>

        <!-- MOCA SDK Plugin classes -->
        <header-file src="src/ios/MOCAPlugin.h" />
        <source-file src="src/ios/MOCAPlugin.m" />
        <header-file src="src/ios/MOCAPluginActionsDelegate.h" />
        <source-file src="src/ios/MOCAPluginActionsDelegate.m" />
        <header-file src="src/ios/MOCAPluginEventsDelegate.h" />
        <source-file src="src/ios/MOCAPluginEventsDelegate.m" />
        <header-file src="src/ios/MOCAPluginCallbackMessage.h" />
        <source-file src="src/ios/MOCAPluginCallbackMessage.m" />
        <header-file src="src/ios/MOCAPluginConstants.h" />
        <source-file src="src/ios/MOCAAutoIntegration.m" />
        <header-file src="src/ios/MOCAAutoIntegration.h" />

        <!-- Public header files -->
        <header-file src="src/ios/MOCA/Headers/MOCA.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCAAction.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCABeacon.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCAConfig.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCAEvent.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCAInbox.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCAIndoorClient.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCAInstance.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCALabel.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCALog.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCAPlace.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCAPropertyContainer.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCAProximityDelegate.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCAProximityService.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCARecoClient.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCASegment.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCASerializable.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCAUser.h"  />
        <header-file src="src/ios/MOCA/Headers/MOCAZone.h"  />

        <!-- MOCA SDK Library Resource files -->
        <source-file src="src/ios/MOCA/libMOCALib.a" framework="true"/>

        <!-- system frameworks -->
        <framework src="libsqlite3.dylib" />
        <framework src="CFNetwork.framework" weak="true" />
        <framework src="Foundation.framework" weak="true" />
        <framework src="Security.framework" weak="true" />
        <framework src="MobileCoreServices.framework" weak="true" />
        <framework src="SystemConfiguration.framework" weak="true" />
        <framework src="UIKit.framework" weak="true" />
        <framework src="CoreTelephony.framework" weak="true" />
        <framework src="MobileCoreServices.framework" weak="true" />
        <framework src="CoreLocation.framework" weak="true" />
        <framework src="PassKit.framework" weak="true" />
		<framework src="AudioToolbox.framework" weak="true" />
		<framework src="CoreBluetooth.framework" weak="true" />
		<framework src="UIKit.framework" weak="true" />

    </platform>
</plugin>
